<div class="container-fluid bg-white pt-5">
  <div class="container-fluid d-flex justify-content-between align-items-center bg-white"
    style="height: 100vh;overflow: hidden;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="../../../assets/images/preview.gif" width="60%" class="image">
            <div class="text-center text-content" style="position: relative;">
              <h1 class="m-0">404</h1>
              <h2 class="font-weight-bold">Looks like you're lost!!</h2>
              <h5>The page you are looking for isn't available.</h5>
              <button class="btn btn-warning rounded">Back to Home</button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
