@media screen and (min-width: 1024px) {
    .text-content {
        top: -100px;
    }
}

@media screen and (min-width: 768px) {
    .text-content {
        top: -70px;
    }
}

@media screen and (max-width: 767px) {
    .image {
        width: 100%;
    }
    .text-content {
        top: -40px;
    }
    .text-content h2 {
        font-size: large;
    }
    .text-content h5 {
        font-size: medium;
    }
}