/* profile css */

.dp-background {
    height: 100px;
}

.dp {
    width: 80px;
    height: 80px;
    position: relative;
    top: -40px;
}

/* developers */
.btn-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .btn-icon .fa{
   font-size: 15px;
 }