
<div class="shadow-sm rounded my-3 bg-white pb-3">
    <div class="container d-flex justify-content-between p-3">
        <div class="d-flex">
            <div class="user-dp rounded-circle">
                <img src="https://www.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg" class="rounded-circle w-100">
            </div>
            <div class="ml-2">
                <p class="m-0 font-weight-bold text-dark">Sourav Santra</p>
                <small class="d-block">Web Developer</small>
                <small>4d • <i class="fa fa-globe"></i></small>
            </div>
        </div>
        <div>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
    <div class="container">
        <p>I created an automated script to test The Sparks Foundation website using Selenium with Python and wrote about different types of testing for the completion of Task 6 of the Web Development internship.</p>
    </div>
    <a href="#" class="text-dark">
        <img src="https://res.cloudinary.com/dieyzzi8d/image/upload/v1603257533/Group_4_oyxxck.png" class="w-100">
    </a>
    <div class="container">
        <div class="d-flex justify-content-between pt-2">
            <i class="fa fa-thumbs-up">19 • 2 Comments</i>
            <i class="fa fa-eye"><span class="ml-1">Views 580</span></i>
        </div>
        <hr>
    </div>

    <div class="container d-flex justify-content-around">
        <div>
            <div class="text-center reaction-container">
                <div class="like_container text-center">
                    <div class="reactions bg-white shadow-sm p-1 d-flex border">
                        <div class="rection h-100 p-0 m-0" data-toggle="tooltip" data-placement="top" title="Like">
                            <img src="https://github.com/Sourav59580/facebook_reaction/blob/main/devfordevs%20rection/like.gif?raw=true" class="h-100">
                        </div>
                        <div class="rection h-100 p-0 m-0" data-toggle="tooltip" data-placement="top" title="Superb">
                            <img src="https://github.com/Sourav59580/facebook_reaction/blob/main/devfordevs%20rection/superb.gif?raw=true" class="h-100">
                        </div>
                        <div class="rection h-100 p-0 m-0" data-toggle="tooltip" data-placement="top" title="Love">
                            <img src="https://github.com/Sourav59580/facebook_reaction/blob/main/devfordevs%20rection/love.gif?raw=true" class="h-100">
                        </div>
                        <div class="rection h-100 p-0 m-0" data-toggle="tooltip" data-placement="top" title="Curious">
                            <img src="https://github.com/Sourav59580/facebook_reaction/blob/main/devfordevs%20rection/curious.gif?raw=true" class="h-100">
                        </div>
                        <div class="rection h-100 p-0 m-0" data-toggle="tooltip" data-placement="top" title="Cry">
                            <img src="https://github.com/Sourav59580/facebook_reaction/blob/main/devfordevs%20rection/cry.gif?raw=true" class="h-100">
                        </div>
                        <div class="rection h-100 p-0 m-0" data-toggle="tooltip" data-placement="top" title="Sad">
                            <img src="https://github.com/Sourav59580/facebook_reaction/blob/main/devfordevs%20rection/sad.gif?raw=true" class="h-100">
                        </div>
                        <div class="rection h-100 p-0 m-0" data-toggle="tooltip" data-placement="top" title="Angry">
                            <img src="https://github.com/Sourav59580/facebook_reaction/blob/main/devfordevs%20rection/angry.gif?raw=true" class="h-100">
                        </div>
                    </div>
                </div>
                <button class="btn like-btn"><i class="fa fa-thumbs-o-up mr-2"></i>Like</button>
            </div>
        </div>
        <div><a href="#" class="btn" data-toggle="collapse" data-target="#comments-section"><i
                    class="mdi mdi-comment-outline mr-2"></i>Comment</a></div>
        <div><a href="#" class="btn"><i class="mdi mdi-share mr-2"></i>Share</a></div>
    </div>
    <div class="container collapse" id="comments-section">
        <hr>
        <div class="row">
            <div class="col-12">
                <div class="media">
                    <img src="https://www.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg" class="rounded-circle mr-3" width="40px">
                    <div class="media-body bg-light p-2">
                        <small class="m-0 font-weight-bold text-dark">Sourav Santra</small>
                        <small class="d-block">Web Developer</small>
                        <p>I have done training in PHP and Web Design. Currently I am working in a Organization as a Implementation. I am looking a job for PHP technology
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>